* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 90px;
    font-family: Arial, sans-serif;
    color: #333333;
    background-color: #ffffff;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #111111;
    padding: 20px 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 24px;
}

nav ul a {
    color: #ffffff;
    text-decoration: none;
}

#about {
    padding: 80px 40px;
}

#about h1 {
    font-size: 48px;
    margin-bottom: 16px;
}

#about p {
    font-size: 18px;
    color: #666666;
    margin-bottom: 8px;
}

.btn {
    transition: background-color 0.3s;
    display: inline-block;
    padding: 12px 24px;
    background-color: #E8650A;
    border-radius: 8px;
    font-size: 16px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.btn:hover {
    color: #ffffff;
}

#skills {
    padding: 60px 40px;
    background-color: #f5f5f5;
}

#skills h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

#skills ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

#skills ul li {
    background-color: #111111;
    color: #ffffff;
    padding: 8px 20px;
    border-radius: 20px;
    font-size: 14px;
}

#contact {
    padding: 60px 40px;
}

#contact h2 {
    font-size: 28px;
    margin-bottom: 16px;
}

#contact a {
    color: #111111;
    font-weight: bold;
}

#contact-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 500px;
    margin-top: 24px;
}

#contact-form input,
#contact-form textarea{
    padding: 12px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

#contact-form textarea{
    height: 120px;
    resize: none;
}

#contact-form button{
    padding: 12px 24px;
    background-color: #E8650A;
    color: #000000;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.5s;
}

#contact-form button:hover{
    background-color: #bf5008;
}

#form-response{
    margin-top: 12px;
    font-size: 16px;
    color: #E8650A;
    font-weight: bold;
}

#projects {
    padding: 60px 40px;
    background-color: #f5f5f5;
}

#projects h2 {
    font-size: 28px;
    margin-bottom: 24px;
}

.projects-grid {
    display: flex;
    gap: 24px;
}

.card {
    transition: background-color 0.3s;
    background-color: #E8650A;
    padding: 24px;
    border-radius: 8px;
    width: 300px;
}

.card:hover {
    background-color: #000000;
}

.card h4 {
    color: #000000;
    font-size: 25px;
    margin-bottom: 12px;
}
.card:hover h4 {
    color: white;
}


.card p {
    color: #000000;
    margin-bottom: 18px;
}


.card:hover p {
    color: #E8650A;
}


.card a {
    color: #160672;
    font-weight: bold;
    text-decoration: none;
}

.card:hover a {
    color: #E8650A;
}

.card h4,
.card p,
.card a {
    transition: color 0.8s;
}



@media (max-width: 768px) {
    nav {
        flex-direction: column;
        gap: 16px;
        align-items: flex-start;
    }

    .projects-grid {
        flex-direction: column;
    }

    .card {
        width: 100%;
    }
}